.logo img {
  height: 3em !important;
  width: auto !important;
}

.logo span {
  color: var(--secondaryTextColor);
  line-height: 1em;
}

.scrolled-navbar {
  position: sticky !important;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em 0;
  transition: 0.32s ease-in-out;
  box-shadow: 0 0.125rem 0.25rem gray;
}

#off-canvas-menu ul {
  list-style: none;
}

#off-canvas-menu li {
  margin: 1em 0;
  padding: 1em 0;
}

#off-canvas-menu .link-text {
  font-weight: 500;
  font-size: 1.2em;
  padding: 0.5em;
  color: var(--secondaryTextColor);
}

#off-canvas-menu .active .link-text {
  box-shadow: 0 5px 3px -4px teal;
  color: teal ;
  font-weight: bolder;
}

#off-canvas-menu .offcanvas-body {
  margin-top: 2em;
}

#off-canvas-menu .close-btn {
  position: absolute;
  width: fit-content;
  right: 1em;
  top: 1em;
}

#off-canvas-menu .accordion-item {
  position: relative;
  border: none;
}

#off-canvas-menu .accordion-item > a {
  position: absolute;
  z-index: 9;
  width: 80%;
  height: 100%;
  display: flex;
}

#off-canvas-menu .accordion-item .accordion-button {
  border-radius: 5px;
  box-shadow: none;
}

#off-canvas-menu .accordion-item .accordion-button:not(.collapsed) {
  background-color: aliceblue;
  box-shadow: none;
}

#off-canvas-menu .accordion-item .accordion-body ul {
  padding-left: 0.5em;
}